.SideDrawer {
  height: 100%;
  background-color: white;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform .3s ease-out;
}

.SideDrawer_Open {
  transform: translateX(0);
}

.SideDrawer-List {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.SideDrawer-List-Item {
  margin: .5rem 0;
}

.SideDrawer-List-Item-Link{
  color: #521751;
  text-decoration: none;
  font-size: 1.2rem;
}

.SideDrawer-List-Item-Link:active,
.SideDrawer-List-Item-Link:hover {
  color: #fa923f;
}

@media (min-width: 769px) {
  .SideDrawer {
    display: none;
  }
}